
.contenedorreseña1{
background-color: rgb(150, 125, 78);
max-width: 300px;
border-radius: 0px 0px 20px 20px;
}

.letrasreseña1{
color: rgb(227, 227, 255);
}

.imagen1{
   width: 300px;
   height: 330px;
   border-radius: 0px 0px 20px 20px;
}

.inicio{
   color: #ffffffc4;
   text-decoration: none;
   font-size: 25px;
   text-align: left; 
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10%;
   text-align: center;
}

