
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: rgba(7, 7, 7);
    color: hsl(0, 2%, 11%);
    text-align: center;
    padding: 10px;
    box-shadow: 0 20px 18px rgba(75, 52, 33, 0.2);
  }

  
  .quienessomos {
    width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
     
  }

  .textosomos {
    color: rgb(66, 49, 42);
    text-align: right;
    font-size: 18px;
  }

 
  .contenedor, .contenedormision, .contenedorvision {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    margin: 20px auto;
    background-color: rgb(247, 241, 241);
    box-shadow: 10px 10px 90px rgb(202, 200, 200);
    max-width: 80%; 
    border-radius: 10px;

  
  .contenedorletra, .contenedorletramision, .contenedorletravision {
    width: 45%;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
  }

 
  .contenedor-imagen, .contenedor-imagenmision, .contenedor-imagenvision {
    width: 40%;
    padding: 10px;
  }

