* {
text-decoration: none;
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}


body{
    background-color: #ffffff;
   margin: 0;}
 
   
   
header {
   background-color: rgb(22, 22, 22);
   color: hsl(199, 85%, 29%);
   padding: 10px;
}


nav ul li {
   display: inline;
   margin: 0 15px;

}
   
nav a {
   color: #ffffffc4;
   text-decoration: none;
   font-size: 25px;
   text-align: left; 
    
}

.fa-solid {
color: rgb(202, 202, 231);
margin: 0 0 0 500px;
}

.contenedor1{
color: blue;
margin: 10px;
padding: 10px;
width: 10%;
}

.submenu {
   position: relative;
   left: 1200px;
   
}

.submenu #carrito {
   display: none;
}

.submenu:hover #carrito{
   display: block;
   position: absolute;
   right: 0;
   backdrop-filter: blur(10px);
   top: 100%;
   z-index: 1;
   background-color: #4E4B5076;
   padding: 20px;
   min-width: 400px;

}

.imagen{
 width: 320px;
 height: 340px;
 object-fit: cover;
 border-radius: 20px 20px 0px 0px;
 box-shadow: 0px 0px 5px 0px rgb(22, 22, 22);
 background-color: black;
 border-radius: 20px;
}

.compra{
   border-radius:30px;
   color: rgb(255, 255, 255);
   background-color: rgb(151, 95, 11);
   padding: 8px;
}

.producto{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10%;
   text-align: center;
}

.precio{
   padding: 9px;
   border-radius: 30px;
   color: rgb(252, 252, 252);
   background-color: rgb(179, 146, 97);
}

.bienvenida{
   text-align: center;
}
