body{
     background-color: #ffffff;
    margin: 0;
  
    
    
header {
    background-color: rgb(22, 22, 22);
    color: hsl(0, 63%, 95%);
    padding: 10px;}


nav ul li {
    display: inline;
    margin: 0 15px;

}
    
nav a {
    color: #eee7e7c4;
    text-decoration: none;
    font-size: 19px;
    text-align: left;  
}

.fa-solid {
color: rgb(202, 202, 231);
margin: 0 0 0 500px;
}

.contenedor1{
color: blue;
margin: 10px;
padding: 10px;
width: 10%;
}

.contenededor1img{
width: 30%;


