body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: #ffffff;
    margin: 0;
    margin: 0;
    
    
header {
    background-color: rgb(14, 13, 13);
    color: hsl(0, 63%, 95%);
    padding: 10px;


nav ul li {
    display: inline;
    margin: 0 15px;

}
    
nav a {
    color: #ffffffc4;
    text-decoration: none;
    font-size: 19px;
    text-align: left;
    
}

.fa-solid {
color: rgb(202, 202, 231);
margin: 0 0 0 500px;
}
